# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.dylib
*.egg
*.eggs
dist/
build/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.log

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# PyInstaller
#  PyInstaller creates a build/ folder and a dist/ folder.
#  These folders can be ignored.
build/
dist/

# mypy
.mypy_cache/
.dmypy.json
.pyre/
